@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Nunito&family=Poppins&display=swap');

:root {
  /* --main-color: #df2626; */
  --main-color-nav: #333;
  --text-color-nav: #ffffff;
  --secondary-color-nav: #76abff;

  --main-color: #ffffff;
  --text-color: #333;
  --secondary-color: #76abff;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

* {
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
    background: var(--main-color);
    color: var(--text-color);
    margin-top: 5rem;
  }

  #buttons {
    position: absolute;
  }

  .buttons li{
    display: inline;
    padding: 10px;
  }
  
  input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
  }
  
  .no-outline:focus {
    outline: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
  }
  
  ul {
    margin: 0;
    list-style-type: none;
  }
  
  .bg-steel {
    background-color: var(--main-color-nav);
  }

  .site-header .navbar-nav .nav-link {
    color: var(--text-color-nav);
    transition: ease all 0.5s;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: var(--secondary-color-nav);
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: var(--text-color);
  }
  
  a.article-title:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #FFFFFF
  }
  
  .article-metadata a:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  input[type=text] {
      text-align:left;
      text-align:top;
  }

  #buttons li {
    display: inline;
  }

  .profile-banner {
    background-color: var(--text-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .profile-header {
    border: 2px solid var(--main-color);
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--text-color);
    color: var(--main-color);
  }

  .profile-header .profile-footer {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--text-color);
    color: var(--main-color);
  }

  .profile-header .profile-content {
    width: 100%;
    background-color: var(--text-color);
    color: var(--main-color);
  }

  .mode {
    background-color: var(--main-color-nav);
    color: var(--text-color-nav);
    border: none;
  }

  .dropdown-menu {
    max-height: 20rem;
    overflow-y: scroll;
  }