@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Urbanist&display=swap');

:root {
  /* --main-color: #df2626; */
  --main-color-nav: #333;
  --text-color-nav: #ffffff;
  --secondary-color-nav: #76abff;

  --main-color: #ffffff;
  --text-color: #333;
  --secondary-color: #76abff;

  --success: #56b46c;
  --success-2: #71dd8b;
  --info: #237bef;
  --warning: #fafa32;
  --error: #ff0000;
  --error-2: #fd3535;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

* {
  font-family: 'Nunito', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    margin-top: 5rem;
    height: 100%vh;
  }

  #buttons {
    position: absolute;
  }

  .buttons li{
    display: inline;
    padding: 10px;
  }
  
  input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
  }
  
  .no-outline:focus {
    outline: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
  }
  
  ul {
    margin: 0;
    list-style-type: none;
  }

  .navbar-toggler {
    filter: invert();
    border: 1px solid var(--text-color) !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  .navbar-toggler:focus {
    border: 1px solid var(--text-color) !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  
  .bg-steel {
    background-color: #ffffff;
    border-bottom: 1px solid var(--main-color-nav); 
  }

  .site-header .navbar-nav .nav-link {
    color: var(--main-color-nav);
    transition: ease all 0.5s;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: var(--secondary-nav-color);
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: var(--text-color);
  }
  
  a.article-title:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #FFFFFF
  }
  
  .article-metadata a:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  input[type=text] {
      text-align:left;
      text-align:top;
  }

  #buttons li {
    display: inline;
  }

  .profile-banner {
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .profile-header {
    border: 1px solid var(--text-color);
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--main-color);
    color: var(--text-color);
  }

  .profile-header .profile-footer {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--main-color);
    color: var(--text-color);
  }

  .profile-header .profile-content {
    width: 100%;
    background-color: var(--main-color);
    color: var(--text-color);
  }

  .dropdown-menu {
    max-height: 20rem;
    overflow-y: scroll;
  }

  .active {
    text-decoration: underline;
    text-decoration-color: #76abffa9;
  }

  .blog-post {
    border: 1px solid var(--text-color);
  }

  .blog-post-header {
    width: 100%;
    background: var(--text-color);
  }

  .blog-post-header h4 {
    color: var(--main-color);
  }

  .blog-post-content {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .blog-post-footer {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .alert {
    border-radius: 0 !important;
  }

  .alert-success {
    background: var(--main-color) !important;
    border: 1px solid var(--success) !important;
    color: var(--text-color) !important;
  }

  .alert-info {
    background: var(--main-color) !important;
    border: 1px solid var(--info) !important;
    color: var(--text-color) !important;
  }

  .alert-warning {
    background: var(--main-color) !important;
    border: 1px solid var(--warning) !important;
    color: var(--text-color) !important;
  }

  .alert-error {
    background: var(--main-color) !important;
    border: 1px solid var(--error) !important;
    color: var(--text-color) !important;
  }

  .comment {
    border: 1px solid var(--text-color);
  }

  .comment-header {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: var(--text-color);
    color: var(--main-color);
  }

  .comment-content {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .comment-footer {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .you {
    background-color: var(--secondary-color);
  }

  .btn {
    border-radius: 0 !important;
  }

  .btn-outline-danger {
    border: 1px solid var(--error) !important;
  }

  .btn-outline-danger:hover {
    color: var(--main-color) !important;
    background-color: var(--error-2) !important;
  }

  .btn-outline-success {
    border: 1px solid var(--success) !important;
  }

  .btn-outline-success:hover {
    color: var(--main-color) !important;
    background-color: var(--success) !important;
  }

  .update-post-btn {
    border: 0 !important;
    color: var(--success) !important;
  }

  .update-post-btn:hover {
    background-color: var(--main-color) !important;
    border: 0 !important;
    color: var(--success-2) !important;
  }

  .update-profile-btn {
    border: 0 !important;
    color: var(--success) !important;
  }

  .update-profile-btn:hover {
    background-color: var(--main-color) !important;
    border: 0 !important;
    color: var(--success-2) !important;
  }

  .create-post-btn {
    border: 0 !important;
    color: var(--success) !important;
  }

  .create-post-btn:hover {
    background-color: var(--main-color) !important;
    border: 0 !important;
    color: var(--success-2) !important;
  }

  .blog-post-header {
    padding-left: 0.25rem;
  }

  .textinput {
    border-radius: 0 !important;
  }

  .textarea {
    border-radius: 0 !important;
  }

  .passwordinput {
    border-radius: 0 !important;
  }

  .textinput:focus {
    box-shadow: none !important;
  }

  .textarea:focus {
    box-shadow: none !important;
  }

  .passwordinput:focus {
    box-shadow: none !important;
  }

  .modal-content {
    border-radius: 0 !important;
  }

  .autocomplete-result-list {
    border-radius: 0 !important;
    border: 1px solid var(--text-color) !important;
  }